---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

///
/// HEADER
///

.header_layout {
  background-color: $headerColor;

  font-family: Calibri;
  font-style: italic;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px; 

  padding: 30px 0;
  cursor: pointer;
}

.header_text_layout {
  height: 100%;
  margin: 0 22%;
  color: $textLight;
}

.site-name {
  float: left;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  &:visited {
    color: $textLight;
  }
  &:hover, &:active {
    color: $white;
  } 
}

.navigation {
  font-size: 20px;
  color: $textLight;
  margin: 0px 35%; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: $headerColor;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

///
/// MAIN
///

.main_layout {
   background-image: url("../assets/background_image.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: initial;
   background-clip: initial;
   background-position: center;

  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26.4px; 

  height: -webkit-fill-available
}

.main_page_layout {
  position: absolute;
  top: 150px;
  bottom: 0px;
  background-color: $mainColor;

  padding: 3% 3%;
  width: 50%;

  margin: 0 19%;
  max-width: 100%;

  color: $textDark;
}

.page_header {
  font-size: 30px;
  font-weight: bold;
  padding: 5px 0;
}

.post_header {
  font-size: 30px;
  font-weight: bold;

    &:visited {
    color: $textDark;
  }
  &:hover, &:active {
    color: $white;
  } 
}

.posts > .post {
  padding-bottom: 2em;
  //border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;

    &:visited {

    }
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
