<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>
    <div class="header_layout">
      <header>
        <div class="header_text_layout">
          <h1>
            <a class="site-name"href="{{ site.baseurl }}/">
              {{ site.name }}</a></h1>
        

        <div class="navigation">

          <div class="dropdown">
            <span>Projects</span>
            <div class="dropdown-content">
              <a href="{% post_url 2017-11-10-UI-kit %}">UI kit</a>
              <a href="{% post_url 2017-11-10-Soundscape%}">Soundscape</a>
              <a href="{% post_url 2017-11-12-lifehack-video%}">Lifehack video</a>
              <a href="{% post_url 2017-11-10-3D-model%}">3D model</a>
              <a href="{% post_url 2017-11-12-interactive-assignment%}">Interactivity</a>
            </div>
          </div>

          <div class="dropdown">
            <span>About</span>
            <div class="dropdown-content">
              <a href="{{ site.baseurl }}/about">About</a>
              <a href="#">CV</a>
            </div>
          </div>

        </div>
      </header>

      <div class="icons_links">
        {% include svg-icons.html %}
      </div>
    </div>
    <div class="main_layout">
      <div class="main_page_layout">
        {{ content }}
      </div>
    </div>
    
  </body>
</html>